:root{
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
    --pink: hsl(322, 100%, 66%);
}

body{
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    min-height: 100vh;
}

h1, h2, h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

a{
    text-decoration: none;
}

article{
    border-radius: 10px;
    box-shadow: 0 0 5px lightgray;
    display: flex;
    padding: 90px;
    width: 80%;
    align-items: center;
    gap: 5rem;
}

article > * {
    width: 50%;
}

.header{
    background-color: var(--very-pale-cyan);
    background-image: url(./images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    padding: 0 6rem;
    margin-bottom: 140px;
}

footer{
    background-color: var(--very-dark-cyan);
    padding: 14rem 6rem 3rem;
    color: var(--very-pale-cyan);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    align-items: center;
    z-index: 0;
}

.top-header{
    display: flex;
    justify-content: space-between;
    padding-block: 3rem;
}

.intro-header{
    width: 75%;
}

.intro-desc{
    width: 75%;
    margin-block: 2rem;
}

.split-group{
    display: flex;
    align-items: center;
    padding: 1rem 0 4rem;
}


.mockups-img{
    max-height: 550px;
    width: auto;
    max-width: 100%;
    object-fit: contain;
}

.img-logo{
    height: 30px;
}

.header-btn {
	background-color:#ffffff;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:var(--very-dark-cyan);
	font-family:"Open Sans", sans-serif;
	font-size:18px;
    font-weight: 700;
	padding:15px 60px;
	text-decoration:none;
    box-shadow: 0px 1px 4px 0.3px var(--grayish-blue);
}

.get-started-btn{
    background-color:var(--pink);
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:"Open Sans", sans-serif;
	font-size:18px;
    font-weight: 700;
	padding:15px 80px;
	text-decoration:none;
    box-shadow: 0px 1px 1px 0.3px var(--grayish-blue);
}

.huddle-features{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding-bottom: 150px;
    justify-content: space-around;
}

.article-image{
    max-width: 70%;
    margin: auto;
}

.feature-desc{
    padding-top: 1rem;
    opacity: 50%;
}

.get-started{
    display: grid;
    place-items: center;
    gap: 2rem;
    width: 50%;
    padding-block: 65px;
    transform: translateY(90%);
    z-index: 1;
    background-color: white;
}

.get-started > a{
    padding: 1.7rem 5rem;
    border-radius: 60px;    
    box-shadow: 0px 1px 4px 1px var(--grayish-blue);
    text-align: center;
}

.huddle-info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.huddle-info > li {
    margin-left: 1.2rem;
}

.footer-location{
    list-style-image: url(./images/icon-location.svg);
}

.footer-phone{
    list-style-image: url(./images/icon-phone.svg);
}

.footer-email{
    list-style-image: url(./images/icon-email.svg);
}

.huddle-about-us{
    display: grid;
    flex-direction: column;
    list-style: none;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    height: 42%;
}

.footer-link{
    color: var(--very-pale-cyan);
}

.footer-logo{
    flex-basis: auto;
    height: 50px;
    align-self: flex-start;
}

.huddle-social{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.social-links{
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.footer-article{
    box-shadow: 0px 1px 1px 0.2px black;
}